.card-text{
    margin-right: 10px;
    background-color: #F0E1C4;
    color: black;
    border-radius: 5px; 
    font-size: 12px;
    padding: 0 5px 0 5px;
}
.card{
    padding: 2px;
    margin: 20px 20px 0 20px;
    width: 20%;
    height: 430px;
    display: inline-table;
    background-color: #D6B798;;
}
.card-body{
    padding: 10px;
}
.user-image > img{
    border-radius: 50%;
    width: 25%;
    margin-right: 10px;
    margin-top: 15px;
}
.images{
    height: 220px;
    background-color: #D6B798;
}

@media screen and (max-width: 570px){
    .card{
        width: 100%;
        margin: 30px 0 0 0;
        padding: 0;
    }
    .main-image{
        padding: 10px;
        background-color:  rgb(150, 69, 44);
    }
}

@media screen and (max-width: 768px) and (min-width: 569px){
    .card{
        width: 60%;
        padding: 0;
    }
    .main-image{
        padding: 10px;
        background-color:  rgb(150, 69, 44);
    }
    .user-image{
        font-size: 16px;
    }
}